.checkbox-list {
    list-style: none;
    padding: 0;
}

.checkbox-list li {
    margin-bottom: 10px;
    /* כמה שאתה רוצה */
}

.checkbox-list input {
    display: none;
}

.checkbox-list label {
    position: relative;
    display: inline-block;
    padding-left: 30px;
    /* כמה שאתה רוצה */
    cursor: not-allowed;
}

.checkbox-list input:checked+label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    /* כמה שאתה רוצה */
    height: 20px;
    /* כמה שאתה רוצה */
    background-color: #000;
    border: 2px solid #fff;
    border-radius: 4px;
}


.imgesDiv {
    width: 100%;
    height: 15%;
    display: flex;
}

.imgeDiv {
    width: '33%';
     height: '100%';
     border: '2px solid green';
}